a {
    font-size: 1.4em;
    color: var(--accent-color);
    margin-bottom: 2%;
    text-decoration: none;
}

a,
.post-title {
    cursor: pointer;
}

.post-slug {
    font-size: 1.4em;
}

.holder::after {
    background-image: linear-gradient(15deg, var(--primary-color), var(--primary-color) 40%, red 40%, red);
}

.no-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 35%;
    height: auto;
    margin: 5% 0;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .main {
        grid-row: 1;
    }
}