
  <mat-toolbar  class="example-toolbar">
    <!--
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    -->
    <div class="me" [routerLink]="'/'">
      <img src="../assets/tinybee.png" alt="tinybee">
      <h1 class="example-app-name">Name of project</h1>
    </div>
    <div class="spacer"></div>
    <div class="temp" *ngIf="auth.user | async; then authenticated else guest">
      <button mat-button>login</button>
    </div>
  </mat-toolbar>
  <div class="example-container">
  <router-outlet></router-outlet>
</div>
<!--
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

      <mat-nav-list>
        <div class="user-list-item" mat-list-item *ngIf="auth.user | async as user">
            <h3>{{ user.displayName }}</h3>
            <p>{{ user.uid }}</p>
        </div>
        <div mat-list-item *ngIf="auth.user | async; then authenticated else guest">
        </div>
      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<ng-template #authenticated>
    <a (click)="auth.signOut()">Logout</a>
</ng-template>
<ng-template #guest>
    <a #guest (click)="auth.googleLogin()">Login</a>
</ng-template>
-->
<ng-template #authenticated>
  <div class="user" *ngIf="auth.user | async as user">
      <h3 [matMenuTriggerFor]="menu">{{ user.displayName }}</h3>
  </div>
</ng-template>
<ng-template #guest>
    <button mat-button #guest (click)="auth.googleLogin()">Login</button>
</ng-template>

<mat-menu #menu="matMenu">
  <div class="us" *ngIf="auth.user | async as user">
    <button mat-menu-item (click)="auth.signOut()">Logout</button>
    <button mat-menu-item *ngIf="auth.canDelete(user)" (click)="manage()">Manage</button>
  </div>
</mat-menu>